In [1]:
from pymongo import MongoClient
import pandas as pd

In [2]:
client = MongoClient('localhost', 27017)
db=client.test
preprocess = db.preprocess

In [3]:
preprocess.find_one()

{'_id': ObjectId('5eca31c26b499e1111078e4b'),
 'Time': '0.00',
 'seconds': '0.00',
 'Methane': '0.00',
 'conc': '2.28',
 'ppm': '8.63',
 'Ethylene': '-37.13',
 'sensor': '-26.62',
 'readings': '-8.46',
 '16 channels': '-0.33',
 'Senor1': '3437.73',
 'Senor2': '2728.14',
 'Senor3': '4054.03',
 'Senor4': '4007.89',
 'Senor5': '4478.27',
 'Senor6': '5056.98',
 'Senor7': '3639.09',
 'Senor8': '3128.49',
 'Senor9': None}

In [4]:
train = []
for i in preprocess.find({}):
    
    train.append(i)

In [5]:
train = pd.DataFrame(train)

In [7]:
train.head()

,_id,Time,seconds,Methane,conc,ppm,Ethylene,sensor,readings,16 channels,Senor1,Senor2,Senor3,Senor4,Senor5,Senor6,Senor7,Senor8,Senor9
0,5eca31c26b499e1111078e4b,0.00,0.00,0.00,2.28,8.63,-37.13,-26.62,-8.46,-0.33,3437.73,2728.14,4054.03,4007.89,4478.27,5056.98,3639.09,3128.49,None
1,5eca31c26b499e1111078e4c,0.01,0.00,0.00,13.69,-12.35,-28.56,-25.81,-5.04,-5.04,3432.44,2734.47,4038.62,4019.40,4496.72,5051.81,3636.97,3115.03,None
2,5eca31c26b499e1111078e4d,0.02,0.00,0.00,8.63,-2.93,-10.89,-30.34,-9.27,-2.12,3438.61,2719.97,4030.92,4025.48,4489.54,5057.35,3641.81,3105.24,None
3,5eca31c26b499e1111078e4e,0.03,0.00,0.00,-0.65,-8.29,-31.96,-21.60,7.98,2.28,3429.51,2720.50,4040.22,4000.87,4485.44,5049.60,3642.72,3124.84,None
4,5eca31c26b499e1111078e4f,0.04,0.00,0.00,3.26,5.05,-36.16,-26.14,-7.48,-0.65,3436.85,2719.71,4029.64,4007.25,4499.12,5057.35,3674.30,3147.59,None